html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  /* font-family: 'Graduate', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  /* font-family: 'Cookie', cursive; */
}

p {
  font-size: 12px;
}

h1,
h2,
h3, 
h4,
h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
}


#mainNav {
  background-color: #ffffff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* #mainNav .navbar-brand {
  color: #000000;
} */

/* #mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
} */

/* #mainNav .navbar-nav > li > a {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
} */

.dropdown-toggle  {
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
}

.dropdown-toggle:focus {
  outline: none;
}

.dropdown-toggle:hover,
.material-icons:hover,
.fas:hover {
  color: #725700;
}

.nav-link  {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}

.dropdown-link  {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 17px;
  color: #000000;
}

.dropdown-link:hover  {
  color: #725700;
  text-decoration: none;
}



  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  /* #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #000000;
  } */

  #mainNav .navbar-nav > li > a:hover {
    color: #725700;
  }

  #mainNav.navbar-shrink {
    background-color: #fff;
  }

/* AWARDS */

#awards {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  opacity: .75;
  background-color: transparent;
  border: none;
}

#awards:hover {
  text-decoration: none;
  opacity: 1;
}

#poster {
  width: 100%;
  border: outset #888888 10px;
  /* border-top-color: #a8a8a8; */
  /* border-bottom-color: #a8a8a8;
  border-left-color: #d4d4d4;
  border-right-color: #d4d4d4; */
}

.title  {
  font-size: 70px;
  font-weight: bold;
}

/********** TABS **********/
.tab-list {
  margin: 0;
  padding: 0;}

.tab-list li {
  display: inline-block;
  list-style-type: none;
  background-color: #303030;
  border-bottom: 3px solid #858585;
  font-family: 'Jacques Francois', serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;}

.tab-list li a {
  color: #f2f2f2;
  display: block;
  padding: 3px 10px 3px 10px;}


/********** HOVER STATES **********/
.tab-list li.active, .tab-list li.hover {
  background-color: #e5e5e5;
  border-bottom: 3px solid #e5e5e5;}

.tab-list li.active a, .tab-list li a:hover {
  color: #666;
  background-color: #e5e5e5;}


/********** PANELS **********/
.tab-panel {
  display: none;
  background-color: #e5e5e5;
  color: #666;
  min-height: 150px;
  overflow: auto;}

.tab-panel.active {
  display: block;}

.tab-panel p {
  margin: 20px;}

/* /// BUTTON DESIGN /// */

button  {
  background: #000;
  color: #fff;
  opacity: .5;
  border: none;
  text-decoration: none;
}

button:focus  {
    outline: none;
}

button:hover  {
  opacity: 1;
}

/* WELCOME */

section.welcome {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 260px;
  padding-bottom: 260px;
  background: #cccccc;
  color: #725700;
}

/* .logo-box {
  margin: auto;
  width: 300px;
  height: 120px;
  color: #fff;
  background: #350457;
  border: 5px solid #121212;
}

.logo {
  text-align: center;
  margin-top: 10px;
  font-family: 'Graduate', cursive;
} */



/* ABOUT */

section.about {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #999999;
  color: #fff;
}



/* FEATURES */

section.features {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #7e7e7e;
  color: #fff;
}

/* PILOTS */

section.pilots {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #555555;
  color: #fff;
}


/* LEAH ROSE */

section.leah-rose {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #000;
  color: #888;
}

/* BETWEEN LINES */

section.between-lines {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #000;
  color: #888;
}

/* FISHTOWN */

section.fishtown {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #000;
  color: #888;
}




/* SERVICES */

section.services {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #6495ED;
  color: #fff;
}




/* TESTIMONIALS */

section.testimonials {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #9c9c9c;
  color: #000000;
}



/* FIRST */

section.first {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background: #000;
  color: #fff;
  /* background: url("../img/bg-pattern.png"), #7b4397; */
  /* background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430)); */
  /* background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430); */
}

/* @media (min-width: 992px) {
  section.first {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
} */

/* ACCORDION */

section.accord {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background: #222222;
  color: #fff;
}

.accordion {
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-color: transparent; 
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:focus {
  outline: none;
}

.active-accordion, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion:hover  {
  background: #000;
}

.active-accordion:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background: #fff;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-in;
}


/* 
@media (min-width: 768px) {
  section.second {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.second {
    font-size: 70px;
  }
} */

/* CONTACT */

section.contact  {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background: #4b4b4b;
  color: #fff;
}


/* PROJECT1 */

section.project1 {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #222222;
  color: #fff;
}

/* PROJECT2 */

section.project2 {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #777;
  color: #fff;
}

/* PROJECT3 */

section.project3 {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #222222;
  color: #fff;
}

/* SECTION TABS */

section.sectabs {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #000;
  color: #fff;
}

/* FOURTH */

section.fourth {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #9b9b9b;
  color: #fff;
}

/* MODAL */

.modal-body {
  color: #000000;
  font-family: 'Old Standard TT', serif;
  text-indent: 2em;
  line-height: 1.5;
  hyphens: auto;
  padding: 0 20px 0 20px;
  text-align: left;
  text-align: justify;
}

@media (min-width: 768px) {
  section.fourth .fourth-content h2 {
    font-size: 80px;
  }
}

/* FIFTH */

section.social {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #c7c7c7;
  color: #fff;
  text-align: center;
}

section.social h2 i {
  color: #dd4b39;
}

section.social ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.social ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.social ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.social ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.social ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.social ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.social ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: #ffffff4d;
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: #ffffff4d;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

/* BUTTONS */

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #1da1f2;
  background-color: #1da1f2;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
